# Defaults
* @nomad-xyz/engineering

# Contracts packages
packages/contracts-bridge/ @nomad-xyz/protocol
packages/contracts-core/ @nomad-xyz/protocol
packages/contracts-router/ @nomad-xyz/protocol
packages/deploy/ @nomad-xyz/protocol
packages/upgrade/ @nomad-xyz/protocol

# SDK Packages
packages/multi-provider/ @nomad-xyz/experience @prestwich
packages/sdk/ @nomad-xyz/experience
packages/sdk-govern/ @nomad-xyz/experience
packages/sdk-bridge/ @nomad-xyz/experience

# DevOps Packages
packages/keymaster/ @nomad-xyz/devops

# Other Packages
packages/indexer/ @kekonen @Imti
packages/local-environment/ @xBalbinus @kekonen
