node_modules/
lib/
yarn-error.log
**/tsconfig.tsbuildinfo
**/.env
dist/
cache/
actions/
scripts/accumulator-cli
**/.coverage

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
