[profile.default]
solc_version = '0.7.6'        # Version of solc that we use
remappings = [                # Libraries that we use from node_modules and are used by the smart contracts
"@openzeppelin/=node_modules/@openzeppelin/",
"@summa-tx/=node_modules/@summa-tx/",
"@nomad-xyz/=packages/",
"forge-std/=lib/forge-std/src/"
]
optimizer = true              # Enable or disable the solc optimizer
optimizer_runs = 999999       # The number of optimizer runs
verbosity = 3                 # The verbosity of tests
bytecode_hash = "none"        # For deterministic code
block_timestamp = 1622400000  # Timestamp for tests (non-zero)

# silence warnings
# 2462 - ignored constructor visibility in OZ dependency
# 5868 - Failure condition of 'send' ignored in bridge
# 9302 - Failure condition of 'call' ignored in bridge
ignored_error_codes = [2462, 5878, 9302]
libs = ["node_modules", "lib"]


[profile.core]
src = 'packages/contracts-core/contracts'
test = 'packages/contracts-core/contracts/test'
out = 'packages/contracts-core/foundry_artifacts'
ffi = true

[profile.core-ci]
src = 'packages/contracts-core/contracts'
test = 'packages/contracts-core/contracts/test'
out = 'packages/contracts-core/foundry_artifacts'
fuzz-runs = 10_000
ffi = true

[profile.router]
src = 'packages/contracts-router/contracts'
test = 'packages/contracts-router/contracts/test'
out = 'packages/contracts-router/foundry_artifacts'

[profile.router-ci]
src = 'packages/contracts-router/contracts'
test = 'packages/contracts-router/contracts/test'
out = 'packages/contracts-router/foundry_artifacts'
fuzz-runs = 10_000

[profile.bridge]
src = 'packages/contracts-bridge/contracts'
test = 'packages/contracts-bridge/contracts/test'
out = 'packages/contracts-bridge/foundry_artifacts'
ffi = true

[profile.bridge-ci]
src = 'packages/contracts-bridge/contracts'
test = 'packages/contracts-bridge/contracts/test'
out = 'packages/contracts-bridge/foundry_artifacts'
ffi = true
fuzz-runs = 10_000

[profile.da-bridge]
src = 'packages/contracts-da-bridge/contracts'
test = 'packages/contracts-da-bridge/contracts/test'
out = 'packages/contracts-da-bridge/foundry_artifacts'
ffi = true

[profile.da-bridge-ci]
src = 'packages/contracts-da-bridge/contracts'
test = 'packages/contracts-da-bridge/contracts/test'
out = 'packages/contracts-da-bridge/foundry_artifacts'
ffi = true
fuzz-runs = 10_000

[profile.ops]
src = 'packages/contracts-ops/contracts'
test = 'packages/contracts-ops/contracts/test'
out = 'packages/contracts-ops/foundry_artifacts'
ffi = true